.topic {
  width: 45%;
  padding: 40px 0;
  height: 800px;
  overflow-y: scroll;

  &__main {
    display: flex;
    flex-direction: column;
  }
  &__inner {
    display: flex;
    align-items: center;
  }
  &__btn {
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    border-radius: 50%;
    background-color: rgba(242, 242, 242, 1);
    margin-right: 15px;
  }
  &__keep {
    color: #333;
    font-size: 18px;
  }
  &__cates {
    display: flex;
    align-items: center;
    margin: 25px 0;
  }
  &__cate {
    border: none;
    padding: 10px 15px;
    margin-right: 15px;
    border-radius: 8px;
    background-color: #000;
    color: #fff;
    font-size: 15px;
  }
  &__links {
    margin-bottom: 35px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E6E6E6;
  }
  &__link {
    margin-right: 32px;
    text-decoration: none;
  }
  &__users {
    display: flex;
    flex-direction: column;
    padding-right: 25px;
  }
  &__imgbox {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  &__inners {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E6E6E6;
  }
  &__img {
    border-radius: 50%;
    margin-right: 10px;
  }
  &__name {
    margin-right: 15px;
    font-size: 17px;
  }
  &__title {
    font-weight: 900;
    font-size: 22px;
    color: #292929;
    margin-bottom: 8px;
  }
  &__image {
    object-fit: cover;
  }
  &__text {
    font-size: 19px;
  }
  &__box {
    padding: 32px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__info {
    display: flex;
    align-items: center;
  }
  &__app {
    padding: 4px 12px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 50px;
    margin-right: 10px;
  }
  &__min {
    margin-right: 10px;
    color: #757575;
  }
  &__add {
    border: none;
    background-color: transparent;
    font-size: 28px;
    margin-right: 20px;
  }

  &__item {
    margin-bottom: 30px;
  }
}

::-webkit-scrollbar {
  width: 8px;
}